<% @books.each do |book| %>


 <h2>Title:<span><%= book.title %></span></h2>

 <h2>Body:<span><%= book.body %></span></h2>



<p><%= link_to 'Edit', edit_book_path(id: book.id) %>
  |
  <%= link_to 'Back', books_path %>
 </p>

<% end %>